* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(225, 100%, 98%);
  font-family: 'Montserrat', sans-serif;
}

main {
  color: hsla(227, 39%, 31%, 0.8);
  padding: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  @media (max-width: 600px) {
    padding: 2rem;
  }
}

p {
  color: rgba(49, 62, 111, 0.7);
}

p:last-child {
  font-weight: 700;
  color: #313E6F;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__search {
    position: relative;
  }

  &__icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #313E6F;
    cursor: pointer;
  }

  &__input {
    background-color: #D9E1FF;
    border: none;
    outline: none;
    border-radius: 21px;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: inherit;
    width: 80vw;
    max-width: 30rem;
    min-width: 200px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
  }

  &__img {
    margin-bottom: 0.5rem;
  }

  &__label {
    color: #313E6F;
    font-weight: 600;

    &--error {
      color: #C71E88;
      margin-top: 0.5rem;
    }
  }
}

.hidden {
  display: none;
}