$color-grey: hsla(0, 0%, 100%, 0.6);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 17%);
  background: url('../assets/bg.png');
}

main {
  font-family: 'Work Sans', sans-serif;
  color: white;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}


.form {
  display: flex;
  flex-direction: column;

  &__search {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
  }

  &__input {
    min-width: 500px;
    /* change later */
    border: 3px solid $color-grey;
    outline: none;
    background: none;
    border-radius: 2rem;
    height: 56px;
    padding: 1rem 4rem;
    color: inherit;
    font-family: inherit;
    font-size: 1.5rem;
    margin-left: -0.5rem;
    letter-spacing: -0.08rem;

    &:focus {
      border: 3px solid white;
    }
  }

  &__label {
    color: $color-grey;
    letter-spacing: -0.08rem;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.btn {
  border: 3px solid white;
  outline: none;
  background: none;
  border-radius: 2rem;
  color: white;
  font-weight: 700;
  letter-spacing: -0.08rem;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  margin-left: -0.5rem;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: hsl(0, 0%, 17%);
  }
}

.hidden {
  display: none;
}

.bg {
  position: absolute;
  bottom: 0;
  background: url(../assets/sunny.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 80%;
  z-index: -1;
}