.weather {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  &__description {
    font-size: 1.5rem;
    color: #313E6F;
  }

  &__img {
    margin-top: 4rem;
    margin-bottom: 1vh;

    @media (max-height: 700px) {
      margin: 0;
      margin-top: 2rem;
    }
  }

  &__temperature {
    font-weight: 400;
    font-size: 6rem;
    color: #2F51D2;
  }

  &__info {
    display: flex;

    @media (max-height: 700px) {
      margin-top: 2rem;
    }

    &--card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 3vw;
      min-width: 5rem;
    }

    & img {
      margin: 0.5rem 0;
    }
  }
}